@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

a {
    font-family: 'Lato' sans-serif;
    text-decoration: none;
    color: white;
}

html{
    font-family: 'Lato' sans-serif;
    background: url(../images/back.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.heading-small {
    font-size: 1.25rem;
}

.heading-medium {
    font-size: 1.5rem;
}

.heading-big {
    font-size: 1.75rem;
    font-style: bold;
}

.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}

/*container*/

.container {
    max-width: 1100px;
    margin: 0 auto;  
}
.blur{
    background-color: rgba(255, 255, 255, 0.302);
    line-height: 1;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.blur2{
    background-color: rgba(255, 255, 255, 0.123);
    line-height: 1;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

span{
    max-width: 80ch;
}

table{
    text-indent: initial;
    border-spacing: 2px;
    border-collapse: collapse;
}

tr{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

/*button*/

/*logout*/

.logout-button {
    background: #d3d3d3;
    color: #2c2c2c;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 0.5rem;
    border: 0;
    transition: all 0.5s;
    border-radius: 10px;
    width: auto;
    position: relative;
}

.logout-button::after{
    position: absolute;
    left: 80%;
    top: 54%;
    right: 0;
    bottom: 0;
    opacity: 0;
    transform: translate(-50%, -50%);
}

.logout-button:hover{
    background: #2b2bff;
    transition: all 0.5s;
    border-radius: 10px;
    box-shadow: 0px 6px 15px #0000ff61;
    padding: 1.5rem 3rem 1.5rem 1.5rem;
    color: #ffffff;
}

.logout-button:hover::after{
    opacity: 1;
    transition: all 0.5s;
    color: #ffffff;
}

/*patreon*/

.patreon-button{
    width: 140px;
    height: 45px;
    font-size: 23px;
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    font-weight: 500;
    position: relative;
    transition: all 0.5s;
    z-index: 1;   
}

.patreon-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background-color: rgb(255, 0, 0);
    z-index: -1;
    transition: all 0.5s;
}

.patreon-button:hover::before {
    width: 100%;
}

.patreon-button:hover {
    color: #d3d3d3;
}

.patreon-button:active:before {
    background: blue;
   }

/* add remove icon*/

.icon-btn {
    width: 3rem;
    height: 3rem;
    border: 0.5px solid #cdcdcd;
    background: white;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    transition: width 0.2s ease-in-out;
  }
.add-btn:hover {
    width: 120px;
  }
.add-btn::before,
  .add-btn::after {
    transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
    content: "";
    position: absolute;
    height: 4px;
    width: 10px;
    top: calc(50% - 2px);
    background: blue;
}
.add-btn::after {
    right: 14px;
    overflow: hidden;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
.add-btn::before {
    left: 14px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.icon-btn:focus {
    outline: none;
}
.btn-txt {
    opacity: 0;
    transition: opacity 0.2s;
}
.add-btn:hover::before,
.add-btn:hover::after {
  width: 4px;
  border-radius: 2px;
}
.add-btn:hover .btn-txt {
    opacity: 1;
}
.add-icon::after,
.add-icon::before {
  transition: all 0.2s ease-in-out;
  content: "";
  position: absolute;
  height: 20px;
  width: 2px;
  top: calc(50% - 10px);
  background: blue;
  overflow: hidden;
}
.add-icon::before {
    left: 22px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.add-icon::after {
    right: 22px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
.add-btn:hover .add-icon::before {
    left: 15px;
    height: 4px;
    top: calc(50% - 2px);
}
.add-btn:hover .add-icon::after {
    right: 15px;
    height: 4px;
    top: calc(50% - 2px);
}

/*calculator button*/

.button4{
    background-color: rgb(20, 87, 244);
    border: 1px solid rgb(20, 87, 244);
    padding: 12px 20px;
    border-radius: 7px;
    transition: .3s;
    color: #fff;
}

.button4:hover{
    border: 1px solid rgb(20, 87, 244);
    background-color: transparent;
    color: rgb(20, 87, 244);
}

/*search button*/

.serachbtn {
    width: 160px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    --moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
  
.serachbtn:hover {
    background-position: 100% 0;
    --moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
  
.serachbtn:focus {
    outline: none;
}
  
.serachbtn.bn26 {
    background-image: linear-gradient(
        to right,
       #25aae1,
       #4481eb,
       #04befe,
       #3f86ed
    );
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}